


/* 21-6-2017 Start*/
.stat-item+.stat-item {
    padding-left: 15px;
    border-left: 1px solid #eee;
  }
  
  .stat-item {
    display: inline-block;
    padding-right: 15px;
  }

  .img-circle{
        border-radius: 50%;
  }

  .img-width-130{
      width: 130px;
  }

  .user-bg .overlay-box {
    /*background: cornflowerblue;*/
    opacity: .9;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}
/* 21-6-2017 End*/
.main_cls {
  background: rgba(0, 0, 0, 0) url("/assets/img/sky-bg.jpg") no-repeat scroll center center / cover ;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 0;"
}